* {
    transition: background-color 0.3s ease, color 0.3s ease;
}
:root {
    --bg: whitesmoke;
    --text: #333;
    --nav-text: black;
    --nav-link: black;
    --border: #ddd;
}

.dark {
    --bg: #0d1117;
    --text: #e6edf3;
    --nav-text: #e6edf3;
    --nav-link: #e6edf3;
    --border: #30363d;
}

body {
    font-family: 'Fira Code', monospace;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: var(--bg);
    color: var(--text);
}

header, section {
    margin-bottom: 40px;
}

h1, h2 {
    color: var(--text);
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: var(--nav-text);
    background-color: transparent;
    padding: 15px;
}

nav a {
    color: var(--nav-link);
    text-decoration: none;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.project, #blog-list div {
    margin-bottom: 10px;
    padding: 7px;
}


.category-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-header h2 {
    margin: 0;
}

.arrow {
    font-size: 16px;
}



#skills-list , #socials-list{
    display: flex;
    color: var(--text);
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    list-style: none;
}

#skills-list li, #socials-list li {
    padding: 8px 12px;
    font-size: 14px;
    white-space: nowrap;
}

.blog-button {
    display: inline-block;
    padding: 10px 18px;
    color: var(--text);
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

#experience-list,#education-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-item,.education-item {
    padding: 8px 0;
    border-bottom: 1px solid var(--border);
}

.exp-main, .edu-main {
    display: flex;
    justify-content: space-between; 
    font-weight: bold;
}

.exp-company, .edu-institute{
    color: var(--text);
    font-size: 0.95rem;
}

.theme-btn {
    margin-left: auto;
    cursor: pointer;
    font-size: 22px;
    background: none;
    border: none;
    color: var(--nav-text);
}
